.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  height: 400px;
  width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: yellow;
  padding: 10px;
  border-style: solid;
  border-color: rgb(199, 199, 9);
  border-radius: 2%;
}
.cell {
  background-color: rgb(224, 207, 207);
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 1px ;
  border-color: #282c34;
  border-style: solid;
  border-radius: 50%;
}
